.gitattributes

# Ignore all media 
imgs/
videos/

# Ignore all mp4 

*.mp4

# Ignore large image files
*.jpg
*.jpeg
*.png
*.gif

#---------
# Mac specific files
.DS_Store
#---------

# Env and pycache
venv/
__pycache__/
*.pyc

# Small script to copy the images locally to the pi5 (deployment server)
copy_media_to_deployment.sh


.vscode/settings.json

static/geo_json


trips.db
.copy_media_to_deployment.sh.swp
alter_table.py

trips_folders

