table
{
border-collapse: collapse;
table-layout: fixed;
}

body
{
    background-color: #212121;
}

tr
{

    height: 50px;
}

td
{
    /* This is how you set a comment in CSS */

    border: 1px solid #E8175D;
    
    background-color: #292727;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center ;
}

th
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    border: 1px solid #E8175D;
    background-color:#1c1c1c;
    padding: 20px 50px;

    color: white;

}

.product_name
{
    width: 100px;
    white-space: normal;        /* allow wrapping */
    overflow-wrap: break-word;  /* break long words */;
}

