.home_page main {

}

.home_page_main {
    margin: clamp(70px, 7vw, 300px) 0;

    justify-self: center;

    padding: var(--navbar-height) 0;
}

 

.home_page_contents_grid_container {


    display: grid;

    grid-template-columns: 35vw 1fr;
    grid-auto-rows: auto;

    grid-template-areas: 
    "profile_pic description"
    "flags description"
    "contact tech_stack";

    gap: 0 2rem;


}

.profile_picture_container {

    width: clamp(40%,30vw,50%);


    height: auto;

    justify-self: center;


    grid-area: profile_pic;
}

#profile_picture {


    width: 100%;
    overflow: hidden;

    border-radius: 100%;
}


.language_flags_container{

    grid-area: flags;

    margin-top: 1rem;
    gap: 1.3rem;

    display: flex;
    justify-self: center;

    max-height: fit-content;

}

.language_flags_container .flag {
    position: relative;
    cursor: pointer;

    max-height: fit-content;
    font-size: clamp(2rem, 1.8vw, 2.5rem);
    transition: transform 0.35s;
}

.language_flags_container .flag::after {
    content: attr(data-level);
    font-size: clamp(0.7rem, 1vw, 0.9rem);
    font-weight: 450;
    padding: 15% 30%;
    border-radius: 0.4rem;
    position: absolute;
    bottom: -50%;
    left: 0%;
    background: var(--secondary-bg-color);
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.35s;
}

.language_flags_container .flag:hover::after {
    opacity: 1;
}

.language_flags_container .flag:hover{
    transform: scale(1.13);

}



.contact_location_container {
    margin-top: clamp(1rem, 2vh, 2.7rem);
    grid-area: contact;
    justify-self: center;

    display: flex;
    flex-direction: column;
}

.contact_location_container p {
    font-size: clamp(0.8rem, 0.8vw, 1rem);
    font-weight: 350;
}

/* #contact {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-size: clamp(1.1rem, 1.6vw, 2rem);
    font-weight: 700;
} */


#email_container {
    margin: 1rem 0;
    margin-left: 0.5rem;

    font-size: clamp(1rem, 0.8vw, 1.4rem);
}


#linkedin_icon {
    fill: var(--text-color);

    width: clamp(2rem, 5vh, 4rem);
    transition: transform 0.3s;
}

#linkedin_github_container a {
  text-decoration: none;
}

#linkedin_icon:hover {
    transform: scale(1.1);
}


#github_icon {
    fill: var(--text-color);
    width: clamp(2rem, 5vh, 4rem);
    transition: transform 0.3s;
}

#github_icon:hover {
    transform: scale(1.1);
}



#location {
    font-size: clamp(0.9rem, 1.1vw, 1.5rem);
    font-weight: 500;
    margin-left: 0.35rem;
    margin-top: 0.5rem;
}






/* ----------------- */
.home_page_description {
    grid-area: description;

    width: 100%;


    width: clamp(20rem, 30vw, 40vw);
    
}

.home_page_description p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.8rem;
}

.home_page_description h1, h2{
    margin: 0;
    padding: 0;

}



#about_me_text {

    font-size: clamp(0.9rem, 1vw, 1.31rem);

    font-weight: 280;

}

#about_me_text b{
    font-weight: 550;
}


#about_me_heading {
    
    font-size: clamp(1.2rem, 2vw, 2rem);
    margin-bottom: 0.8rem;

}

#prior_work_heading {
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}



.tech_stack_badges {
    grid-area: tech_stack;

    display: flex;

    flex-direction: column;
    gap: 1rem;

    margin-top: 3rem;

}



.tech_stack_badges svg{
    width: clamp(2.7rem, 3.5vw, 4.5rem);
    height: auto;
    transition: transform 0.2s;
}

.tech_stack_badges svg:hover{
    transform: scale(1.1);
}

.general_dev_badges_container,
.web_dev_badges_container {

    display: flex;

    justify-content: flex-start;

    gap: 1rem;

}

#flask_icon {
    fill: var(--text-color);
}

#sqlite_icon {
    fill: var(--text-color);
}


@media(max-width: 1179px) {


    .home_page_contents_grid_container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "profile_pic"
        "description"
        "flags"
        "tech_stack"
        "contact";
        gap: 1rem 0;
    }

    .profile_picture_container{
        justify-self: center;
        width: clamp(12rem, 35vw,47%);

    }
    
    .home_page_description{
        justify-self: center;
        text-align: center;
        width: 100%;


        width: clamp(20rem, 55vw, 55vw);
        font-size: ;
    }
    
    #about_me_text {

    font-size: clamp(0.9rem, 2vw, 1.31rem);

    font-weight: 320;

    }

    #about_me_heading {
        
        font-size: clamp(1.2rem, 3vw, 2rem);
        margin-bottom: 1rem;

    }

    #prior_work_heading {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }
    

    .tech_stack_badges{
        margin: 0;
        justify-self: center;

    }
    .tech_stack_badges svg {
        width: clamp(2.5rem, 6vw, 6rem);
    }
    .contact_location_container{
        margin: 0;

        font-weight: 400;

        display: grid;
        grid-template-areas: 
        "email github"
        "location location";



    }

    .contact_location_container p{
        margin: 0.8rem;
        font-size: clamp(0.7rem, 2vw, 1rem);

    }

    #contact {
        display: none;

    }

    .home_page_main {
        margin: 1.5rem 0;



        justify-self: center;

        padding-top: var(--navbar-height);
        padding-bottom: 0;
    }

    #prior_work_heading {
        margin: 0.5rem 0;
    }

    .footer{
        margin-top: 0;
    }


    #location {
        grid-area: location;
        justify-self: center;
        font-size: clamp(0.8rem, 2vw, 1rem);
        
    }



    
}

/* 
* {
    outline: 1px solid red;
} */



