{% extends 'base.html' %}


{% block additional_css %}
<link href="/static/css/projects_page_style.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="projects_main_flex">

    <div class="project_container">

        <div class="project_image_container">
            <img src="/static/images/projects/hanabi_active_game.jpeg" alt="">
        </div>



        <div class="project_text">

            <div class="project_heading">Multiplayer Hanabi Card Game</div>

            <div class="project_description">
                Originally developed as a university project with a team of four, I led backend development and game
                logic, while also helping less experienced team members with frontend, so that the project got a top
                grade in the end. Nevertheless, the
                initial <b>design of the game was flawed </b>and the game was only barely playable on local network. We
                stored game
                state on each client, only sending game moves to update it locally, which caused constant lag and
                crashes.

                <p> Over the holidays, I <b>rewrote the
                        MVC architecture and networking from scratch</b>, centralizing the game state on the host's
                    machine and enabling smooth online
                    multiplayer experience.
                    Now I can play the game with my freinds anywhere in the world, making it much interesting than just
                    a useless uni project.
                </p>

                <p>
                    This project strengthened my skills in object oriented programming in
                    Python, backend architecture, networking, and full project development from concept to a polished,
                    playable product, while also making me comfortable with git and team development.
                </p>
            </div>
        </div>

    </div>

    <div class="project_container">

        <div class="project_image_container">
            <img src="/static/images/projects/cycling_page.jpeg" alt="">
        </div>



        <div class="project_text">

            <div class="project_text">

                <div class="project_heading">This very website / Cyling page</div>

                <div class="project_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, nam maiores. Repudiandae, labore.
                    Assumenda praesentium tenetur neque necessitatibus blanditiis. Blanditiis autem dignissimos placeat
                    a nihil obcaecati adipisci iure possimus molestiae temporibus, expedita, recusandae sint quibusdam
                    pariatur deleniti ipsam quod asperiores eos quos quo at quam excepturi nulla? Natus sed dolores,
                    iusto, excepturi, accusantium assumenda minus commodi similique iste consequuntur vel magni
                    perferendis reprehenderit cupiditate culpa expedita architecto impedit cumque nulla animi vero quis
                    voluptas provident. Rerum iusto omnis repudiandae. Odio, cumque. Voluptatum aperiam placeat itaque
                    quidem unde, aliquid aut cumque rerum eum, aspernatur omnis vel obcaecati velit accusamus pariatur.
                    Itaque repudiandae provident, a magni, ratione iure possimus totam doloremque earum est labore
                    nostrum perferendis nesciunt recusandae dicta alias. Dolores tempora velit consequatur, id sint
                    fugit sed nemo, ipsa magnam suscipit ipsum laboriosam possimus sunt vel exercitationem repellendus
                    consequuntur. Sed accusantium rerum consectetur eaque nostrum deserunt aperiam aliquid provident
                    molestias. Incidunt.
                </div>
            </div>
        </div>
    </div>

    <div class="project_container">


        <div class="project_image_container">
            <img src="/static/images/projects/cs50.jpeg" alt="">
        </div>


        <div class="project_text">

            <div class="project_text">

                <div class="project_heading">CS50 First steps with C </div>

                <div class="project_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non illo iure porro unde animi, ratione
                    minus consequatur eius pariatur quidem hic quia quasi in totam mollitia veniam soluta minima, quo
                    perferendis ipsa optio architecto necessitatibus aliquid possimus? Voluptatibus voluptatem a
                    molestiae expedita eligendi ut possimus fuga dolorum non aut, fugit facere eius saepe accusantium
                    omnis, aperiam modi? Vel eius itaque et tempora? Doloremque reiciendis voluptatum earum ut numquam
                    quisquam in tempore non illo nemo reprehenderit vero, quod amet assumenda quibusdam ipsam adipisci,
                    praesentium esse ab corrupti cupiditate! Vitae harum fugiat amet dolores tempore magnam tenetur illo
                    porro eveniet maxime nisi sint accusamus rem distinctio obcaecati magni, dolorum labore veniam!
                    Optio, nam incidunt possimus doloribus deserunt debitis exercitationem mollitia neque sit, dolorem
                    recusandae? Maiores cum, assumenda quas architecto dicta provident ex sed qui magni. Tempore optio
                    maxime aliquam architecto veniam consectetur, dolores praesentium non asperiores dolorem, voluptatem
                    quisquam amet quam necessitatibus.
                </div>
            </div>
        </div>
    </div>



</div>


{% endblock %}